[flake8]
# Define the maximum line length
max-line-length = 79
# Enable specific plugins or add specific extensions
# extensions =

# Exclude specific files and directories
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv

# Set the required complexity for code (McCabe complexity)
max-complexity = 10

# Define custom format for output
format = %(path)s:%(row)d:%(col)d: %(code)s %(text)s

# Enable or disable specific rules
# enable-extensions =
# select = E,W,F,C,N
